<img class="right" src="/images/screenshot_wide.jpg">
<h1>Campfire hack</h1>
<p>Easy steps to a prettier campfire</p>
<h2>Step 1: <span>Allow the site</span></h2>
<img class="right" src="/images/screenshot_preferences.jpg">
<p>Within your campfire app, Go to 'Advanced Preferences' tab.</p>
<p>add "*campfirehacks*" under 'browsing to URLs'</p>
<h2>Step 2: <span>Install campfire growl</span></h2>
  <a href="/growlnotifier.user.js" target="_blank">install</a>
<h2>Step 3: <span>Install the script</span></h2>
  <form>
    <label for='twitter_id'>Twitter id:
    <input type='text' id='twitter_id' name='twitter_id'>
    </label>
    <input type='button' value='install' onclick='install_plugin();'>
  </form>
<h2>Step 4: <span>Refresh the page</span></h2>
