<style>
em { color:red; }
pre { border: solid 1px #666; margin: 20px}
</style>

<p><img src="/images/screenshot_wide.jpg"> <img src="/images/screenshot_righthand.jpg"></p>
<h1>Campfire hack</h1>

<ol>
  <li>Create a site specific browser for campfire</li>
  <li>Tell campfire that viewing the user scripts is ok
    <ul>
      <li>Go into Preferences (command-comma)</li>
      <li>Go to 'Advanced Preferences tab</li>
      <li>if you use 'browsing to URLs matching these patterns', then add "*campfirehacks*"</li>
      <li>Close</li>
    </ul>
  </li>
  <li>Toggle the toolbar to allow you to enter urls: option-command-T</li>
  <li>Create a new tab: command-T</li>
  <li>Copy paste your url: http://<%=request.domain%>/scripts/&lt;<span style="color:#f00;">twitter_id</span>&gt;.user.js</li>
  <li>Click yes, please install and take over my computer</li>
  <li>Refresh the page: command-R</li>
  <li>Enjoy</li>
</ol>
<h2>preferences</h2>
<p><img src="/images/ssb_advanced_preferences.jpg"></p>

