<style>
em { color:red; }
pre { border: solid 1px #666; margin: 20px}
</style>
<ol>
  <li>Create a site specific browser for campfire</li>
  <li>edit <code>/Applications/Campfire.app/Contents/Resources/default.css</code></li>
</ol>
<pre><code><b>@import url("http://campfirehacks.local/sheets/<em>twitterid</em>.css");</b>
textarea {resize:both;-webkit-dashboard-region:dashboard-region(control rectangle);}
button {-webkit-dashboard-region:dashboard-region(control rectangle);}
input {-webkit-dashboard-region:dashboard-region(control rectangle);}</code></pre>

<p>Enjoy:</p>
<p><img src="/images/screenshot_icons.jpg"></p>
<p><img src="/images/screenshot_right.png"></p>
