<p><img src="/images/screenshot_wide.jpg"></p>
<h1>Campfire hack</h1>
<p>2 steps to a prettier campfire</p>
<hr />
<h2>Step 1</h2>
<p>Within your campfire app, Go to 'Advanced Preferences' tab.</p>
<p>add "*campfirehacks*" under 'browsing to URLs'</p>
<p><img src="/images/ssb_advanced_preferences.jpg"></p>
<h2>Step 2</h2>
  <form>
    <label for='twitter_id'>Twitter id:
    <input type='text' id='twitter_id' name='twitter_id'>
    </label>
    <input type='button' value='install' onclick='install_plugin();'>
  </form>
<h2>Refresh</h2>

